<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans>  

	
  <bean id="InsertMessageAction" class="org.lsq.action.InsertMessageAction">  
    	<property name="insertMessageService" ref="InsertMessageService"></property>  
	</bean>

	<bean id="QueryMessageAction" class="org.lsq.action.QueryMessageAction">  
    	<property name="qureyMessageService" ref="QureyMessageService"></property>  
	</bean>
	
	<bean id="UpdateMessageStatusAction" class="org.lsq.action.UpdateMessageStatusAction">  
    	<property name="updateMessageStatusService" ref="UpdateMessageStatusService"></property>  
    	<property name="qureyMessageService" ref="QureyMessageService"></property>  
	</bean>
	
</beans>  
