<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans >  
    <!-- service -->
    <bean id="loginService" class="org.lsq.service.impl.LoginService">
    	<property name="userDAO" ref="userDAO"></property>
    </bean>  
  	<bean id="addUserService" class="org.lsq.service.impl.AddUserService">
  		<property name="addUserDAO" ref="addUserDAO"></property>
  	</bean>
</beans>  
