<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans>  
	<bean id="InsertMessageDAO" class="org.lsq.dao.impl.InsertMessageDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="QureyMessageDAO" class="org.lsq.dao.impl.QureyMessageDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
	<bean id="UpdateMessageStatusDAO" class="org.lsq.dao.impl.UpdateMessageStatusDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
</beans>  
