<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans>  
      <bean id="roleCastPowerService" class="org.lsq.service.impl.RoleCastPowerService">
    	<property name="roleCastPowerDAO" ref="roleCastPowerDAO"></property>
    </bean>  
     <bean id="userService" class="org.lsq.service.impl.UserService">
    	<property name="userDAO" ref="userDAO"></property>
    </bean>  

     <!-- 读取串口 -->
    <bean id="ComListening" class="org.lsq.commlistening.ComListening" >
        <property name="messageReciverService" ref="messageReciverService"></property>
    </bean>
    <bean id="messageReciverService" class="org.lsq.service.impl.MessageReciverService" >
        <property name="insertMessageDAO" ref="InsertMessageDAO"></property>
    </bean>
     <!-- 读取串口 -->
</beans>  
