<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="MessageSettingsDAO" class="org.lsq.dao.impl.MessageSettingsDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

</beans>  
