<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC    
    "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd">  
<beans >  
	
<!-- 数据源配置 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/lsq"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean> 
    <!-- 定义Spring JDBC模板类bean -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    
    <!-- dao -->
    <bean id="userDAO" class="org.lsq.dao.impl.UserDAO">
    	<property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean id="addUserDAO" class="org.lsq.dao.impl.AddUserDAO"></bean>
    
    <!-- qh写的dao ，insertMessageDAO -->
    <bean id="InsertMessageDAO" class="org.lsq.dao.impl.InsertMessageDAO">
    	<property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
  
</beans>  
